<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.customer.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>com.customer.CustomerInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.customer.UpdateCusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.customer.DeleteCusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.customer.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.product.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>com.customer.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/addcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDelete</servlet-name>
    <servlet-class>com.product.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDelete</servlet-name>
    <url-pattern>/deletepro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductUpdate</servlet-name>
    <servlet-class>com.product.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdate</servlet-name>
    <url-pattern>/updatepro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailUtil</display-name>
    <servlet-name>EmailUtil</servlet-name>
    <servlet-class>com.customer.EmailUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailUtil</servlet-name>
    <url-pattern>/EmailUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderCancel</servlet-name>
    <servlet-class>com.order.OrderCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCancel</servlet-name>
    <url-pattern>/cancelord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderConfirmationServlet</display-name>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <servlet-class>com.order.OrderConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <url-pattern>/OrderConfirmation</url-pattern>
  </servlet-mapping>
</web-app>